.grid {
  margin-bottom: 35px;
  margin-left: 18px;
  margin-right: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 12px;
  min-width: 1000px;
}
@media (max-width: 1300px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .sidebar {
    width: 0px;
  }
}
.block {
  display: grid;
  vertical-align: top;
}
.photo {
  height: 230px;
  min-height: 170px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.thumbnail {
  border-radius: 15px;
  width: 100%;
  height: 230px;
  min-height: 170px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.thumbnail:hover {
  border-radius: 0px;
}
.time {
  position: absolute; 
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(32, 31, 31);
  border-radius: 3px;
  bottom: 5px;
  right: 5px;
  font-size: 14px;
}
.video-title-link {
  text-decoration: none;
  color: black;
}